# Fichiers de log
contact_log.txt

# Fichiers générés par le système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de configuration des éditeurs et IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Dépendances (si vous en ajoutez plus tard)
node_modules/
vendor/

# Fichiers de build (si vous en ajoutez plus tard)
dist/
build/
.cache/
public/
/dist
/build
/public
/.cache

# Fichiers divers
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local 